.card {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 400px;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
}

.card-text {
    font-family: transformer;
    font-size: 60px;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
